body
{
	background:#336699;
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:small;
	margin:8px 0 16px;
	text-align:center;
}

#form_container
{
	background:#fff;
	padding-bottom: 10px;
	margin:0 auto;
	text-align:left;
	position: relative;
	width:600px;
	top: 40px;
	right: 30p;
}
footer
{
	position: absolute;
    bottom: 0;
	
}
#bottom
{
	display:block;
	height:10px;
	margin:0 auto;
	width:650px;
}

/**** Logo Section  *****/
h1
{
	
	margin:0;
	min-height:0;
	padding:0;
	text-decoration:none;
	text-indent:-8000px;
	
}

h1 a
{
	
	display:block;
	height:100%;
	min-height:5px;
	overflow:hidden;
}



